
/*  selector    {   sub-attribute: value  }
        p    {   color: red;  }     .. every instce of the sspecific tag.
        #id_ {   color: red;  }     .. the object with the specific ID.
        .class {   color: red;  }   .. all objects with the specific class.

        hexadecimal color coding   .. 0 -> 9 -> A -> F .
        color: #000         .. basic    .. red, green, blue, etc.
        color: #000+ max x8 .. expanded .. shades and mixes of all variety.

        Distances (border, padding, etc.): top, right, bottom, left.
*/

h4 {
	margin: 15px 0 15px 58px;
}

form {
	margin: 8px;
}

#calcBox {
	padding: 3px 13px 3px 26px;
}

#inputBox {
	padding: 3px 13 5px 26px
}

.input {
	text-align: right;
}

#calclatorForm{
    float: left;
    width: 210px;
    padding: 0 0 0 0px;    /*  top, right, bottom, left  */
}

#mainTableDiv {
	padding: 3px 13 5px 13;
}

table {
	table-layout: fixed;
	border: 2px solid black;
	width: 200px;
}

#valueMemoryBox{
	padding-left: 325px;
	border: 2px solid black;
}

footer {
	margin: 8px 8px 8px 21px;
	box-sizing: border-box;
	width: 200px;
	height: 30px;
	border: 2px solid black;
	padding: 5px;
}